/* Site policy styles for: teamspace.mainequalitycounts.org */

#content a.video {
  max-width:640px;
  max-height:480px;
}

#add-field {
    margin-top:4em;
}

#add-fieldset input {
    display:none !important;
}
